.input-group-prepend span{
width: 50px;
background-color:#8BFBF2;
color: black;
border:0 !important;
}
.container{
   height: 100%;
align-content: center;
}
.card{
height: 500px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: #B9F6F1 !important;
}
html,body{

background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: sans-serif;
}